*,
**::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

img {
  width: 28px;
  height: 28px;
}

img:hover {
  opacity: 0.8;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 16px;
}

#piano-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: 540px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.controls {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: start;
  justify-content: space-between;
  padding-top: 24px;
}

.record {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: lightgreen;
  box-shadow: 0 2px 4px rgba(91, 236, 98, 0.5);
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.record.active {
  background-color: red;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
  position: relative;
}

.white {
  --width: 100px;
  height: 400px;
  width: var(--width);
  background-color: #f0f0f0;
  border: 1px solid #999;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.white.active {
  background: #d9d9d9;
}

.black {
  --width: 60px;
  height: 240px;
  width: var(--width);
  background-color: #333;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  border-radius: 0 0 5px 5px;
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.black.active {
  background: #222;
}

button.notes {
  background-color: #999;
  border-radius: 4px;
  height: 2rem;
  width: 4rem;
}

div#recordings {
  background-color: #333;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

div.recordings-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

div#recordings-container img {
  width: 18px;
  height: 18px;
}

div.record-song {
  width: 100%;
  height: 32px;
  padding: 0 16px;
  background-color: #222;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
}
